*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%
);

}

.container-form{
    height: 500px;
    max-width: 900px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
    transition: all 1s ease;
    margin: 10px;
}

.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #c7eef3 ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h3{
    font-size: 2.5rem;
    color: #333;
}


/*Imagen principal CIMED resgistro/login*/
.img{
    height: 150px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}


.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0,.1);
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    font-size: 2.5rem;
    color: #333;
}

.form-information-childs p{
    margin: 15px;
    color: #555;
}



.icons_Usuario i{
    border-radius: 50%;
    padding: 50px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    background-color: #fff;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.Btn1[type="button"]{
    white-space: normal;
    font-size: 14px;
}

.Btn1{
    width: 150px;
    height: 80px;
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.Btn1[type="button"]:hover{
    background-color: #7a7a9a;
}

.icons_Usuario{
    margin: 15px 0;
}

.icons_Usuario i{
    border-radius: 50%;
    padding: 50px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    background-color: #fff;
}

.icons_Usuario i:hover{
    background-color: #c7c7f3;
    color: #fff;
}


/*Responsive*/
@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
    .img{
        height: 100px;
    }
}
@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container-form{
        height: auto;
        flex-direction: column;
    }
    
    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    
    .form-information{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

    .img{
        height: 80px;
    }
}