<!DOCTYPE html>
<html>

<head>
    <title>User Access Buttons</title>
    <style>
        button {
            margin: 5px;
        }
    </style>
</head>

<body>
    <button id="logisticaButton" style="display: none">Logística</button>
    <button id="pacienteButton" style="display: none">Paciente</button>
    <button id="medicoButton" style="display: none">Médico</button>

    <script src="/javascripts/cambio_usuario.js"></script>
</body>

</html>