<!DOCTYPE html>
<html>

<head>
    <title>User Access Buttons</title>
    <link rel="stylesheet" href="/stylesheets/Login_Usuario.css">
</head>
<body>
    <button id="logisticaButton" style="display: none">Logística</button>
    <button id="pacienteButton" style="display: none">Paciente</button>
    <button id="medicoButton" style="display: none">Médico</button>

    <script>
        var id = "<%= dataSend.id%>";
        var page = "<%= dataSend.page%>";
    </script>
    <script src="/javascripts/cambio_usuario.js"></script>
</body>

</html>