
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}

hr {
    width: 98%;
    margin-left: 1%;
    margin-right: 0%;
}

.IconH li{
    padding: 7px;
    cursor: pointer;
}

.seccion{
    height: 600px;
    align-items: center;
}
.carousel-item{
    width: 100%;
    height: 600px;
}

.cardCarusel{
    height: 100px;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
    opacity: 60%;
    color: white;
    align-items: center
}
video{
    width: 100%;
    height: 700px;
    border-radius: 10px;
}
/* Espacio de aliados*/
.consorcio{  
    width: 100%; 
    height: 400px;
}
.consorcioUl{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Consorcio li{
    display: inline-block;
}

.Consorcio li img{
    height: 200px;
    width: 200px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.Consorcio li img:hover{
    background-color: #c7c7f3;
    color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img_logo{
    width: 400px; 
    margin-top: 15px; 
    margin-left: 30px;
}
.social{
    align-items:flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
}
.social li{
    display: inline-block;
}
.social a{
    padding: 10px;
}
#redes{
    height: 200px;
    padding: 30px;
}

/*Sevicios CIMED*/

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;   
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow:  2px 5px 5px #9191bd;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #9191bd;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow:  0 5px 10px #7a7a9a;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*Nosotros*/
.Nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #d9ffff;
    
}

.nosotros {
    padding: 20px;
    text-align: justify;
}

.nosotros img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1); 
}

.Btn1{
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.Btn1[type="button"]:hover{
    background-color: #7a7a9a;
}

/*Ubicacion CIMED/Aliados */
.container_ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Ubicacion {
    position: relative;
    width: 350px;
    height: 340px;
    margin: 20px;
}

.ubicacion {
margin-top: 50px;
}

.Ubicacion .ubicacion1{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;


}

.Ubicacion .front{
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.Ubicacion .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Ubicacion .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}

.Ubicacion .front h3 a{
    color: #f3f3f3;
}


/*Experiencias Clientes*/
.Clientes {
    width: 100%;
    height: 500px;
    background-color: #d9ffff;
}

/*Footer*/
.footer {
    height: 70px; 
    margin-top: 60px;
    background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%
);
}

