*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/receta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
}

.container-form{
    background-color: #f8f8f8;
    max-height: 650px;
    max-width: 1000px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
    transition: all 1s ease;
    margin: 10px;
}


section {
    max-height: 600px;
    width: 250px;
    margin: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 20px;
}

label {
    color: #7a7a9a;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

button:hover {
    background-color: #7a7a9a;
}

.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #c7eef3 ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img{
    width: 170px;
    height: 150px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease-out;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}
.receta_medica{
    background-color: #f8f8f8;

}

#paciente {
    border: 1px solid #aaa;
    color: #333;
    background-color: #f8f8f8
}


/*Responsive*/
@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
    .img{
        height: 100px;
    }
    .section{
        width: 90%;
    }
    .receta_medica{
        width: 90%;
    }
    .label{
        height: 30px;
    }
}
@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container-form{
        height: auto;
        flex-direction: column;
    }

    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    
    .form-information{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
    .section{
        width: 90%;
    }
    .receta_medica{
        width: 90%;
    }
    .label{
        height: 30px;
    }

    .img{
        width: 100px;
        height: 90px;
    }
}