*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%)
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    margin: 0 15px;
    background-color: white;
    box-shadow:  5px 7px rgba(0,0,0,.1);
}

.container header{
    font-size: 20px;
    font-weight:  600;
    color: #333;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;

}

.container form .datos{
    margin-top: 25px;
}




form .fields .input-field{
    display: flex;
    width: calc(100% /3 -15 );
    flex-direction: column;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 460;
}

.input-field input{
    outline: none;
    font-size: 14 px;
    font-weight: 400;
    color: #333;
    outline: none;
    border: 1px solid #aaa;
    padding:  0 15px;
    border-radius: 5px;
    height: 42px;
    margin: 10px 0;
    
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,.13);
}

.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    max-width: 200px;
    background-color: #55cae7;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
    transition: all 0.3s linear;

}

form button:hover{
    background-color: #39a8c4;
}